
.pageWrapper
{
    text-align: center;
}
.page
{
    line-height: 25px;

    display: inline-block;

    height: 25px;
    margin: 0 4px;
    padding: 0 10px;

    text-decoration: none;

    color: #428bca;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.currentPage
{
    background-color: #2ad;
}

#tip
{
    position: fixed;

    display: none;

    width: 150px;
    height: auto;
    padding: 12px;
    border-radius: 5px 5px;
    background-color: white;
    box-shadow: 0 0 5px gray;
    z-index: 999;
}

#result
{
    display: none;
}
#fail{
    display: none;
}

#play
{
    display: inline-block;

    width: 24px;
    height: 24px;
	border-radius: 12px 12px;
	background-color: #FF2323;
	box-shadow: 0 0 5px gray;
    background-size: 24px 24px;
}

#play:active{
	box-shadow: 0 0 0 #fff;
}

